<div class="container">
            <section id="add_section">
                <form id="add_form" action="/add" method="post">
                    <h2>情報追加</h2>
                    <div class="grid_2">
                        <label for="person">注文者：</label><input type="text" id="person" name="person">
                        <label for="phone">連絡先：</label><input type="text" id="phone" name="phone">
                        <label for="address">住所：</label><input type="text" id="address" name="address">
                        <label for="date">日付：</label><input type="date" id="date" name="date">
                        <label for="product">商品：</label><input type="text" id="product" name="product">
                        <label for="amount">個数：</label><input type="text" id="amount" name="amount">
                        <label for="price">価格：</label><input type="text" id="price" name="price">
                    </div>
                    <button id="add_btn" type="submit">追加</button>
                </form>
            </section>
        </div>
        <script></script>
