.container {
  width: 960px;
  margin: auto;
}
h1 {
  font-weight: normal;
}
th {
  font-weight: normal;
}
#orders_table {
  margin: auto;
  border-collapse: collapse;
}
#orders_table th {
  background: lavender;
}
#orders_table th,
#orders_table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}
#calendar_table {
  padding-top: 30px;
  margin: auto;
  text-align: center;
}
#calendar_table th,
#calendar_table td {
  padding: 5px 7px;
}
#calendar_table .order_date {
  background: lightblue;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
